DATABASE_URL="file:./prisma/dev.db"
BETTER_AUTH_SECRET="changeme"
APP_URL="http://localhost:5173"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_FORCE_PASSWORD=""
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT=""
