name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Nix cache
        uses: DeterminateSystems/magic-nix-cache@v6
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: jonocairns/taskr
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=sha
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Nix image
        run: nix build .#containerImage
      - name: Load image
        run: docker load < result
      - name: Tag and push image
        run: |
          source_image="taskr:nix"
          for tag in ${{ steps.meta.outputs.tags }}; do
            docker tag "$source_image" "$tag"
            docker push "$tag"
          done
